{% extends "home/base.html" %}
{% block content %}
      <div class="row">

        <div class="col-lg-12">

          <div class="card col-md-4 phone">
            <img  class="card-img-top img-fluid book-image" src="{{MEDIA_URL}}{{product.image}}" alt="" width="80%">
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h3 class="card-title">{{product.name}}</h3>
              <p class="card-text">{{product.description}}</p>
              <span class="text-warning">
                {% if product.stars %}
                {% for star in product.stars %}
                <i class="fa fa-star"></i>
                {% endfor %}
                {% if product.needs_half_star %}
                <i class="fa fa-star-half"></i>
                {% endif %}        
                {% else %}
                <p>No reviews yet</p>
                {% endif  %}
              </span>
            </div>
          </div>
          
          <div class="col-md-3 amazon">
            
            <div class="price">
            <h4>€{{product.price}}</h4>
            </div>
          
            <i class="far fa-check-circle"></i>
            <h5 class = "inline">In stock online </h5>
            <h5>Delivery 2-5 working days.</h5>

            
             <form class = "quantity-modify"action="{% url 'add_to_cart' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{product.id}}"/>
              <h5 class = "inline">Quantity</h5>
              <input class = "quantity" type="number" name="quantity" value="1"/>
              <input class="btn btn-success card-button" type="submit" value="Add To Cart"/>
            </form>
            
          </div>
          
          </div>
          <!-- /.card -->
          </div>

          <div class="row">
            
          {% include "reviews/_show_reviews.html" %}

        {% if user.is_authenticated %}
          {% include "reviews/_add_review_form.html" %}
        {% endif %}
        
        </div>
        <!-- /.col-lg-9 -->

      
{% endblock content %}